:root {
    --white: #FFFFFF;
    --gray: #F7F7F7;
    --dark-gray: #C6C6C6;
    --black: #000000;
    --red: #EE2211;
    --dark-red: #900000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px 0px 0px 0px;
    padding: 0px;
    background-color: var(--gray);

    display: grid;
    justify-items: center;
    gap: 60px;
}

img {
    max-width: 100%;
    display: block;
}

menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

p,
ul,
h1,
h2,
h3 {
    margin: 0px;
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
}