:root {
    --white: #FFFFFF;
    --gray: #F7F7F7;
    --dark-gray: #C6C6C6;
    --black: #000000;
    --red: #EE2211;
    --dark-red: #900000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px 0px 0px 0px;
    padding: 0px;
    background-color: var(--gray);

    display: grid;
    justify-items: center;
    gap: 60px;
}